@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import "tailwindcss";
@plugin "daisyui";

body {
            font-family: "Sora", sans-serif;
}
.hero {
            background-image: url(./assets/bg-shadow.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
}